@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: 585663;
}

body {
  font-family: 'Homemade Apple', cursive;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  color: 585663;
  font-size: small;
  line-height: 2px;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
}

h5 {
  font-family: 'Homemade Apple', cursive;
  font-size: large;
}

h6 {
  font-family: 'Homemade Apple', cursive;
  line-height: 2px;
  font-size: 40px;
}
