@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);

#head {
  font-weight:bold;
  font-family: 'Clicker Script', cursive;
  font-size: 100px;
  color: olivedrab;
}

#para1 {
  width: 23%;
  float: left;
  padding: 15px;
  width: 23%;
  float: left;
  padding: 5px;
  font-weight:bold;
  font-family: 'Clicker Script', cursive;
  font-size: 50px;
  color: olivedrab;
}

#para2 {
  width: 23%;
  float: left;
  padding: 15px;
  width: 23%;
  float: left;
  padding: 5px;
  font-weight:bold;
  font-size: 50px;
  color: AAA639;
