@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);

h1{
  font-weight:bold;
  font-family: 'Clicker Script', cursive;
  font-size: 100px;
  color: olivedrab;
  width: 100%;
}

h2 {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: yellowgreen;
  width: 23%;
  float: left;
  padding: 15px;
  width: 23%;
  float: left;
  padding: 5px;
}

body {
  font-family: "raleway", sans-serif;
  font-size: 20px;
  color: lightslategrey;
}
